<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="public :: header"/>
  </head>
  <body>
    <div class="pd-5">
      <form class="layui-form layui-form-pane">
        <input type="hidden" name="subNo" th:value="${subNo }" class="layui-input" autocomplete="off">
        <div class="layui-form-item">
          <label class="layui-form-label">新密码<span class="red">*</span></label>
          <div class="layui-input-block">
            <input type="password" name="password" required lay-verify="password" lay-data-length="6-16" lay-null-msg="请输入新密码" lay-error-msg="密码为6-16位非空字符" placeholder="请输入新密码" class="layui-input" autocomplete="off">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">确认密码<span class="red">*</span></label>
          <div class="layui-input-block">
            <input type="password" name="password2" required lay-verify="password" lay-recheck="password" lay-data-length="6-16" lay-null-msg="请再次输入密码" lay-error-msg="密码为6-16位非空字符" placeholder="请再次输入密码" class="layui-input" autocomplete="off">
          </div>
        </div>
        <div class="layui-form-item text-c">
          <div class="layui-inline">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="updatePwd">确定</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            <span class="layui-btn layui-btn-primary" id="cancel">取消</span>
          </div>
        </div>
      </form>
    </div>
    <th:block th:include="public :: footer"/>
    <script type="text/javascript" th:src="@{/js/system/sub.js?v=1.0.0.1}"></script>
  </body>
</html>