<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="public :: header"/>
  </head>
  <body>
    <div class="pd-5">
      <form class="layui-form layui-form-pane">
        <input type="hidden" name="id" th:value="${dict.id }" class="layui-input" autocomplete="off">
        <div th:if="${cmd } eq 'add'" class="layui-form-item">
          <label class="layui-form-label">字典集代码<span class="red">*</span></label>
          <div class="layui-input-block">
            <input type="text" name="dictCode" required lay-verify="required" th:value="${dict.dictCode }" placeholder="请输入字典集代码" class="layui-input" autocomplete="off">
          </div>
        </div>
        <div th:if="${cmd } eq 'update'" class="layui-form-item">
          <label class="layui-form-label">字典集代码</label>
          <div class="layui-input-block">
            <input type="text" name="dictCode" readonly th:value="${dict.dictCode }" class="layui-input layui-disabled" autocomplete="off">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">字典集名称<span class="red">*</span></label>
          <div class="layui-input-block">
            <input type="text" name="dictName" required lay-verify="required" th:value="${dict.dictName }" placeholder="请输入字典集名称" class="layui-input" autocomplete="off">
          </div>
        </div>
        <div class="layui-form-item" pane>
          <label class="layui-form-label">状态<span class="red">*</span></label>
          <div class="layui-input-block">
            <input type="radio" name="validStatus" lay-verify="mustradio" value="1" title="启用" th:checked="${dict.validStatus eq null } or ${dict.validStatus } eq '1'">
            <input type="radio" name="validStatus" value="0" title="停用" th:checked="${dict.validStatus } eq '0'">
          </div>
        </div>
        <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">备注</label>
          <div class="layui-input-block">
            <textarea name="remark" th:text="${dict.remark }" placeholder="请输入备注" class="layui-textarea"></textarea>
          </div>
        </div>
        <div class="layui-form-item text-c">
          <div class="layui-inline">
            <div class="layui-inline" th:switch="${ cmd }">
              <th:block th:case="'add'">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="add">添加</button>
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="addAgain">保存并添加下一个</button>
              </th:block>
              <th:block th:case="'update'">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="update">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </th:block>
              <span class="layui-btn layui-btn-primary" id="cancel">取消</span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <th:block th:include="public :: footer"/>
    <script type="text/javascript" th:src="@{/js/system/dict.js?v=1.0.0.1}"></script>
  </body>
</html>
