<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="public :: header"/>
  </head>
  <body>
    <div class="pd-5">
      <!-- 搜索条件 -->
      <div class="layui-form layui-form-pane">
        <div class="layui-form-item">
          <input type="hidden" id="dictCode" th:value="${dictCode }" class="layui-input" autocomplete="off">
          <div th:if="${ powers['ADD'] }" class="layui-inline">
            <button id="add" class="layui-btn layui-btn-normal"><i class="layui-icon layui-icon-add-circle-fine"></i>添加</button>
          </div>
          <div th:if="${ powers['DELETE'] }" class="layui-inline">
            <button id="delete" class="layui-btn layui-btn-danger"><i class="layui-icon layui-icon-delete"></i>删除</button>
          </div>
        </div>
      </div>
      <!-- 数据展示 -->
      <table class="layui-hide" id="datas" lay-filter="datas"></table>
    </div>
    <!-- 自定义模板 -->
    <script type="text/html" id="toolbar">
        {{# if([[${powers.containsKey('UPDATE')}]]){ }}
          <a class="layui-btn layui-btn-xs" lay-event="update">编辑</a>
        {{# } }}
        {{# if([[${powers.containsKey('DELETE')}]]){ }}
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        {{# } }}
    </script>

    <th:block th:include="public :: footer"/>
    <script type="text/javascript" th:src="@{/js/system/dict-item.js?v=1.0.0.1}"></script>
  </body>
</html>