<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="public :: header"/>
  </head>
  <body>
    <div class="pd-5">
      <form class="layui-form layui-form-pane">
        <input type="hidden" name="id" th:value="${scheduleJob.id }" class="layui-input" autocomplete="off">
        <div class="layui-form-item">
          <label class="layui-form-label">任务名称<span class="red">*</span></label>
          <div class="layui-input-block">
            <input type="text" name="jobName" required lay-verify="required" th:value="${scheduleJob.jobName }" placeholder="请输入任务名称" class="layui-input" autocomplete="off">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">任务组<span class="red">*</span></label>
          <div class="layui-input-block">
            <input type="text" name="jobGroup" required lay-verify="required" th:value="${scheduleJob.jobGroup }" placeholder="请输入任务组" class="layui-input" autocomplete="off">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">执行类<span class="red">*</span></label>
          <div class="layui-input-block">
            <input type="text" name="jobClassName" required lay-verify="required" th:value="${scheduleJob.jobClassName }" placeholder="请输入执行类" class="layui-input" autocomplete="off">
          </div>
        </div>
        <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">属性配置</label>
          <div class="layui-input-block">
            <textarea name="jobData" th:text="${scheduleJob.jobData }" placeholder="请输入定时任务属性配置，数据为json格式" class="layui-textarea"></textarea>
          </div>
        </div>
        <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">备注</label>
          <div class="layui-input-block">
            <textarea name="remark" th:text="${scheduleJob.remark }" placeholder="请输入备注" class="layui-textarea"></textarea>
          </div>
        </div>
        <div class="layui-form-item text-c">
          <div class="layui-inline">
            <div class="layui-inline" th:switch="${ cmd }">
              <th:block th:case="'add'">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="add">添加</button>
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="addAgain">保存并添加下一个</button>
              </th:block>
              <th:block th:case="'update'">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="update">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </th:block>
              <span class="layui-btn layui-btn-primary" id="cancel">取消</span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <th:block th:include="public :: footer"/>
    <script type="text/javascript" th:src="@{/js/system/job.js?v=1.0.0.1}"></script>
  </body>
</html>
