<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chanus.yuntao.boot.manager.mapper.DataBaseTableMapper">
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from information_schema.tables
    <where>
      <choose>
        <when test="tableSchema != null">
          and table_schema = #{tableSchema,jdbcType=VARCHAR}
        </when>
        <otherwise>
          and table_schema = (select database())
        </otherwise>
      </choose>
      <if test="tableName != null">
        and table_name = #{tableName,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
  <select id="list" parameterType="java.util.Map" resultType="com.chanus.yuntao.boot.manager.model.DataBaseTable">
    select 
    table_schema, table_name, table_type, engine, table_rows, auto_increment, create_time, table_collation, table_comment
    from information_schema.tables
    <where>
      <choose>
        <when test="tableSchema != null">
          and table_schema = #{tableSchema,jdbcType=VARCHAR}
        </when>
        <otherwise>
          and table_schema = (select database())
        </otherwise>
      </choose>
      <if test="tableName != null">
        and table_name = #{tableName,jdbcType=VARCHAR}
      </if>
    </where>
    <if test="pagination == true">
      limit #{start,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="get" resultType="com.chanus.yuntao.boot.manager.model.DataBaseTable">
    select table_name, table_comment from information_schema.tables
    <where>
      <choose>
        <when test="tableSchema != null">
          and table_schema = #{tableSchema,jdbcType=VARCHAR}
        </when>
        <otherwise>
          and table_schema = (select database())
        </otherwise>
      </choose>
      <if test="tableName != null">
        and table_name = #{tableName,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>