<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chanus.yuntao.boot.manager.mapper.DictMapper">
  <delete id="deleteBatchIds" parameterType="java.lang.Integer">
    delete sys_dict, sys_dict_item from sys_dict
    left join sys_dict_item on sys_dict.dict_code = sys_dict_item.dict_code
    <where>
      <choose>
        <when test="coll == null or coll.size() == 0">
          and 1 &lt;&gt; 1
        </when>
        <when test="coll.size() == 1">
          and sys_dict.id = <foreach collection="coll" item="id">#{id,jdbcType=INTEGER}</foreach>
        </when>
        <otherwise>
          and sys_dict.id in <foreach collection="coll" item="id" open="(" separator="," close=")">#{id,jdbcType=INTEGER}</foreach>
        </otherwise>
      </choose>
    </where>
  </delete>
  
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from sys_dict
    <where>
      <if test="dictCode != null">
        and dict_code = #{dictCode,jdbcType=VARCHAR}
      </if>
      <if test="dictName != null">
        and dict_name like concat('%', #{dictName,jdbcType=VARCHAR}, '%')
      </if>
    </where>
  </select>
  
  <select id="list" parameterType="java.util.Map" resultType="com.chanus.yuntao.boot.manager.model.Dict">
    select id, dict_code, dict_name, remark, valid_status, gmt_create, gmt_modified from sys_dict
    <where>
      <if test="dictCode != null">
        and dict_code = #{dictCode,jdbcType=VARCHAR}
      </if>
      <if test="dictName != null">
        and dict_name like concat('%', #{dictName,jdbcType=VARCHAR}, '%')
      </if>
    </where>
    <if test="pagination == true">
      limit #{start,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}
    </if>
  </select>

  <resultMap id="DictResultMap" type="com.chanus.yuntao.boot.manager.model.Dict">
    <id column="p_id" jdbcType="INTEGER" property="id" />
    <result column="p_dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="p_dict_name" jdbcType="VARCHAR" property="dictName" />
    <result column="p_valid_status" jdbcType="CHAR" property="validStatus" />
    <collection property="dictItems" ofType="com.chanus.yuntao.boot.manager.model.DictItem">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
      <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
      <result column="item_name" jdbcType="VARCHAR" property="itemName" />
      <result column="item_data" jdbcType="VARCHAR" property="itemData" />
      <result column="valid_status" jdbcType="CHAR" property="validStatus" />
    </collection>
  </resultMap>

  <select id="listWithDictItems" parameterType="java.lang.String" resultMap="DictResultMap">
    select
    sys_dict.id p_id, sys_dict.dict_code p_dict_code, sys_dict.dict_name p_dict_name, sys_dict.valid_status p_valid_status,
    sys_dict_item.id, sys_dict_item.dict_code, item_code, item_name, item_data, sys_dict_item.valid_status
    from sys_dict
    inner join sys_dict_item on sys_dict_item.dict_code = sys_dict.dict_code
    <where>
      <if test="validStatus != null">
        and sys_dict.valid_status = '1' and sys_dict_item.valid_status = '1'
      </if>
    </where>
    order by sys_dict.id asc, priority asc
  </select>
</mapper>