<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="public :: header"/>
  </head>
  <body>
    <div class="pd-5">
      <form class="layui-form layui-form-pane">
        <input type="hidden" name="${pk.attributename}" th:value="${${classname}.${pk.attributename} }" class="layui-input" autocomplete="off">
#foreach ($column in $columns)
#if($column.columnName != $pk.columnName)
        <div class="layui-form-item">
          <label class="layui-form-label">${column.columnComment}#if($column.nullable == 'NO')<span class="red">*</span>#end</label>
          <div class="layui-input-block">
            <input type="text" name="${column.attributename}"#if($column.nullable == 'NO') required lay-verify="required"#end th:value="${${classname}.${column.attributename} }" placeholder="请输入${column.columnComment}" class="layui-input" autocomplete="off">
          </div>
        </div>
#end
#end
        <div class="layui-form-item text-c">
          <div class="layui-inline">
            <div class="layui-inline" th:switch="${ cmd }">
              <th:block th:case="'add'">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="add">添加</button>
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="addAgain">保存并添加下一个</button>
              </th:block>
              <th:block th:case="'update'">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="update">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </th:block>
              <span class="layui-btn layui-btn-primary" id="cancel">取消</span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <th:block th:include="public :: footer"/>
    <script type="text/javascript" th:src="@{/js/${jsPath}/${jsName}.js?v=${since}.1}"></script>
  </body>
</html>
