package ${serverPackage}.model;

## 判断是否有BigDecimal、LocalDateTime、LocalDate、LocalTime、JSONField
#set($hasBigDecimal=false)
#set($hasDateTime=false)
#set($hasDate=false)
#set($hasTime=false)
#set($hasJSONField=false)
#set($hasTableName=false)
#set($hasTableId=false)
#set($hasIdType=false)
#foreach ($column in $columns)
#if($column.attributeType == "BigDecimal")
    #set($hasBigDecimal=true)
#elseif($column.attributeType == "LocalDateTime")
    #set($hasDateTime=true)
#elseif($column.attributeType == "LocalDate")
    #set($hasDate=true)
#elseif($column.attributeType == "LocalTime")
    #set($hasTime=true)
#end
#if($column.dataType == 'datetime' || $column.dataType == 'timestamp' || $column.dataType == 'date' || $column.dataType == 'time')
    #set($hasJSONField=true)
#end
#if($column.columnKey == 'PRI' && $column.columnName != 'id')
    #set($hasTableId=true)
#if($column.extra != 'auto_increment')
    #set($hasIdType=true)
#end
#end
#end
#if($tablePrefix != 'sys_')
    #set($hasTableName=true)
#end
#if($hasJSONField)
import com.fasterxml.jackson.annotation.JsonFormat;
#end
#if($hasTableName)
import com.baomidou.mybatisplus.annotation.TableName;
#end
#if($hasTableId)
import com.baomidou.mybatisplus.annotation.TableId;
#end
#if($hasIdType)
import com.baomidou.mybatisplus.annotation.IdType;
#end

import java.io.Serializable;
#if($hasBigDecimal)
import java.math.BigDecimal;
#end
#if($hasDateTime)
import java.time.LocalDateTime;
#end
#if($hasDate)
import java.time.LocalDate;
#end
#if($hasTime)
import java.time.LocalTime;
#end

/**
 * ${tableComment}
 *
 * @author ${author}
 * @date ${dateTime}
 * @since ${since}
 */
#if($tablePrefix != 'sys_')
@TableName("$tableName")
#end
public class ${className} implements Serializable {
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
    /**
     * $column.columnComment
     */
#if($column.dataType == 'datetime' || $column.dataType == 'timestamp')
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
#elseif($column.dataType == 'date')
    @JsonFormat(pattern = "yyyy-MM-dd")
#elseif($column.dataType == 'time')
    @JsonFormat(pattern = "HH:mm:ss")
#end
## 集成 Mybatis Plus，若主键名称不是id，需要指定字段名，若主键不是自增长，需要指定主键生成策略
#if($column.columnKey == 'PRI' && $column.columnName != 'id')
#if($column.extra == 'auto_increment')
    @TableId("$column.columnName")
#else
    @TableId(value = "$column.columnName", type = IdType.INPUT)
#end
#end
    private $column.attributeType $column.attributename;
#end
#foreach ($column in $columns)

    public $column.attributeType get${column.attributeName}() {
        return $column.attributename;
    }

    public void set${column.attributeName}($column.attributeType $column.attributename) {
#if($column.attributeType == 'String')
        this.$column.attributename = $column.attributename == null ? null : ${column.attributename}.trim();
#else
        this.$column.attributename = $column.attributename;
#end
    }
#end

    @Override
    public String toString() {
        return "${className} [" +
#foreach ($column in $columns)
#if($velocityCount == 1)
                "${column.attributename}=" + $column.attributename +
#elseif($column.attributeType != 'byte[]')
                ", ${column.attributename}=" + $column.attributename +
#end
#end
                "]";
    }
}
