package ${serverPackage}.service;

import com.chanus.yuntao.boot.framework.base.service.BaseService;
import ${serverPackage}.model.${className};

/**
 * ${moduleName}接口
 *
 * @author ${author}
 * @date ${dateTime}
 * @since ${since}
 */
public interface ${className}Service extends BaseService<${className}> {

}
