<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="public :: header"/>
  </head>
  <body>
    <div class="pd-5">
      <form class="layui-form layui-form-pane layui-row">
        <div class="layui-col-md3 layui-col-xs12 user_right">
          <div class="layui-upload-list">
            <img th:src="${#strings.isEmpty(operator.headImage) } ? @{/images/face.jpg} : @{${operator.headImage }}" class="layui-upload-img layui-circle userFaceBtn userAvatar" id="userFace">
          </div>
          <button type="button" class="layui-btn layui-btn-primary userFaceBtn">
            <i class="layui-icon">&#xe67c;</i> 更换头像
          </button>
          <p>请选择小于20KB的图片作为头像</p>
        </div>
        <div class="layui-col-md6 layui-col-xs12">
          <input type="hidden" name="id" th:value="${operator.id }" class="layui-input" autocomplete="off">
          <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
              <input type="text" readonly th:value="${operator.operatorNo }" disabled="disabled" class="layui-input layui-disabled" autocomplete="off">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">名称<span class="red">*</span></label>
            <div class="layui-input-block">
              <input type="text" name="operatorName" required lay-verify="required" th:value="${operator.operatorName }" class="layui-input" autocomplete="off">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
              <input type="text" readonly th:value="${operator.roleName }" disabled="disabled" class="layui-input layui-disabled" autocomplete="off">
            </div>
          </div>
          <div th:if="${operator.operatorRoleCode } eq '1'" class="layui-form-item">
            <label class="layui-form-label">主账号</label>
            <div class="layui-input-block">
              <input type="text" readonly th:value="${operator.masterNo }" disabled="disabled" class="layui-input layui-disabled" autocomplete="off">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">邮箱账号</label>
            <div class="layui-input-block">
              <input type="text" name="email" lay-verify="email" lay-ignore="ignore" th:value="${operator.email }" class="layui-input" autocomplete="off">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">电话号码</label>
            <div class="layui-input-block">
              <input type="text" name="tel" lay-verify="phone" lay-ignore="ignore" th:value="${operator.tel }" class="layui-input" autocomplete="off">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-block">
              <input type="text" readonly th:value="${#temporals.format(operator.gmtCreate, 'yyyy-MM-dd HH:mm:ss') }" disabled="disabled" class="layui-input layui-disabled" autocomplete="off">
            </div>
          </div>
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
              <textarea name="remark" th:text="${operator.remark }" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="update">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <th:block th:include="public :: footer"/>
    <script type="text/javascript" th:src="@{/js/system/operator-info.js?v=1.0.0.3}"></script>
  </body>
</html>